@font-face { font-family: "Open Sans"; src: local("Open Sans Light"), local("OpenSans-Light"), url("opensanslight.woff2.html") format("woff2"), url("opensanslight.woff.html") format("woff"), url("opensanslight.ttf.html") format("truetype"); font-weight: 300; font-style: normal; }
@font-face { font-family: "Open Sans"; src: local("Open Sans Light Italic"), local("OpenSansLight-Italic"), url("opensanslightitalic.woff2") format("woff2"), url("opensanslightitalic.woff") format("woff"), url("opensanslightitalic.ttf") format("truetype"); font-weight: 300; font-style: italic; }
@font-face { font-family: "Open Sans"; src: local("Open Sans"), local("OpenSans"), url("opensans.woff2") format("woff2"), url("opensans.woff") format("woff"), url("opensans.ttf") format("truetype"); font-weight: 400; font-style: normal; }
@font-face { font-family: "Open Sans"; src: local("Open Sans Italic"), local("OpenSans-Italic"), url("opensansitalic.woff2") format("woff2"), url("opensansitalic.woff") format("woff"), url("opensansitalic.ttf") format("truetype"); font-weight: 400; font-style: italic; }
@font-face { font-family: "Open Sans"; src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("opensanssemibold.woff2") format("woff2"), url("opensanssemibold.woff") format("woff"), url("opensanssemibold.ttf") format("truetype"); font-weight: 600; font-style: normal; }
@font-face { font-family: "Open Sans"; src: local("Open Sans Semibold Italic"), local("OpenSans-SemiboldItalic"), url("opensanssemibolditalic.woff2") format("woff2"), url("opensanssemibolditalic.woff") format("woff"), url("opensanssemibolditalic.ttf") format("truetype"); font-weight: 600; font-style: italic; }
@font-face { font-family: "Open Sans"; src: local("Open Sans Bold"), local("OpenSans-Bold"), url("opensansbold.woff2") format("woff2"), url("opensansbold.woff") format("woff"), url("opensansbold.ttf") format("truetype"); font-weight: 700; font-style: normal; }
@font-face { font-family: "Open Sans"; src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("opensansbolditalic.woff2") format("woff2"), url("opensansbolditalic.woff") format("woff"), url("opensansbolditalic.ttf") format("truetype"); font-weight: 700; font-style: italic; }
@font-face { font-family: "Open Sans"; src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url("opensansextrabold.woff2") format("woff2"), url("opensansextrabold.woff") format("woff"), url("opensansextrabold.ttf") format("truetype"); font-weight: 800; font-style: normal; }
@font-face { font-family: "Open Sans"; src: local("Open Sans Extrabold Italic"), local("OpenSans-ExtraboldItalic"), url("opensansextrabolditalic.woff2") format("woff2"), url("opensansextrabolditalic.woff") format("woff"), url("opensansextrabolditalic.ttf") format("truetype"); font-weight: 800; font-style: italic; }
@font-face { font-family: PFDinTextCompPro; src: local("PFDinTextCompPro Regular"), local("PFDinTextCompPro-Regular"), url("PFDinTextCompPro-Regular.woff2") format("woff2"), url("PFDinTextCompPro-Regular.woff") format("woff"), url("PFDinTextCompPro-Regular.ttf") format("truetype"); }
@font-face { font-family: Alexander; src: local("Alexander"), url("") format("woff2"), url("") format("woff"), url("") format("truetype"); font-weight: 400; font-style: normal; }
@font-face { font-family: "Bad Script"; src: local("Bad Script Regular"), local("BadScript-Regular"), url("") format("woff2"), url("") format("woff"), url("") format("truetype"); font-weight: 400; font-style: normal; }
@keyframes fire { 
  0% { opacity: 1; }
  25% { opacity: 0.2; }
  40% { opacity: 0.8; }
  60% { opacity: 0.4; }
  85% { opacity: 1; }
  95% { opacity: 0.7; }
  100% { opacity: 1; }
}
body { margin: 0px; padding: 0px; font-family: "Open Sans"; background: url("background.jpg") 0% 0% / 100% repeat-y; font-size: 15px; }
a, area, input, textarea { outline: none; }
a { color: rgb(249, 0, 147); }
h1 { text-align: center; font-size: 16px; }
.SL { text-decoration: none; }
.SERTIFIKAT { width: 45vw; height: 19.5234vw; border-radius: 0.7vw; }
.ZVONOK { display: table; width: 19.5234vw; height: 19.5234vw; background: linear-gradient(142deg, rgb(255, 249, 247), rgb(255, 234, 247)); margin: 0px 0px 1vw 1vw; text-align: center; color: rgb(189, 55, 166); font-family: impact; text-decoration: none; text-transform: uppercase; font-size: 2.2vw; border: 2px solid rgb(232, 196, 214); border-radius: 0.7vw; box-sizing: border-box; cursor: pointer; }
.ZVONOK:hover { background: linear-gradient(142deg, rgb(255, 151, 116), rgb(255, 40, 173)); color: rgb(255, 255, 255); }
.ZVONOK::after { content: "Онлайн звонок"; display: table-cell; vertical-align: middle; }
.ZAKAZ { display: table; width: 19.5234vw; height: 19.5234vw; background: linear-gradient(142deg, rgb(255, 249, 247), rgb(255, 234, 247)); margin: 0px 0px 1vw 1vw; text-align: center; color: rgb(189, 55, 166); font-family: impact; text-decoration: none; text-transform: uppercase; font-size: 2.2vw; border: 2px solid rgb(232, 196, 214); border-radius: 0.7vw; box-sizing: border-box; cursor: pointer; }
.ZAKAZ:hover { background: linear-gradient(142deg, rgb(255, 151, 116), rgb(255, 40, 173)); color: rgb(255, 255, 255); }
.ZAKAZ::after { content: "Онлайн заказ"; display: table-cell; vertical-align: middle; }
.tn { text-decoration: none; }
.hul:hover { text-decoration: underline; }
.both { clear: both; }
.clear::after { content: "."; display: block; clear: both; visibility: hidden; height: 0px; }
#head { position: relative; width: 100%; }
.otzHome { position: fixed; right: 50px; bottom: 200px; width: 100px; height: 100px; border-radius: 50%; text-align: center; border: 2px solid rgba(220, 122, 168, 0.8); background: rgba(255, 232, 248, 0.7); z-index: 10; }
.otzEffect { position: absolute; width: 100px; height: 100px; border-radius: 50%; z-index: 5; background: radial-gradient(rgb(255, 243, 252), rgb(255, 211, 246)); transform: scale(1.7); transition: all 0.5s ease-out 0s; visibility: hidden; opacity: 0; }
.otzHomeForName { position: absolute; width: 100px; height: 100px; border-radius: 50%; display: table; z-index: 10; transition: all 0.5s ease-out 0s; }
.otzHome p { display: table-cell; vertical-align: middle; font-size: 25px; line-height: 100px; font-family: PFDinTextCompPro; color: rgb(179, 27, 111); transition: all 0.5s ease-out 0s; }
.otzHome:hover { border: 2px solid rgba(204, 146, 173, 0.8); }
.otzHome:hover p { color: rgb(97, 22, 63); }
.otzHome:hover .otzHomeForName { box-shadow: rgb(255, 112, 158) 0px 0px 1vw; }
.otzHome:hover .otzEffect { visibility: visible; opacity: 1; transform: scale(1); }
#head2 { position: fixed; left: 0px; top: 0px; width: 100%; background: rgb(255, 255, 255); border-bottom: 1px solid rgb(204, 204, 204); z-index: 50; }
#head_left { display: table-cell; width: 40vw; vertical-align: middle; }
#head_center { display: table-cell; width: 20vw; }
#head_right { display: table-cell; width: 40vw; vertical-align: middle; position: relative; }
.homeInsta { position: absolute; left: 2vw; top: 5.6vw; margin: 0px; color: rgb(0, 0, 0); }
.homeInsta:hover { color: rgb(227, 71, 189); }
.homeInsta i { font-size: 2.7vw; }
.logo { width: 20vw; }
.leftMenu { position: relative; float: right; font-size: 2vw; margin: 2.8vw 2vw 0px 0px; padding: 1vw 0px; font-family: PFDinTextCompPro; cursor: pointer; color: rgb(0, 0, 0); }
.leftMenu:hover { transition: all 0.4s linear 0s; color: rgb(216, 7, 111); }
.rightMenu { position: relative; float: left; font-size: 2vw; margin: 2.8vw 0px 0px 2vw; padding: 1vw 0px; font-family: PFDinTextCompPro; cursor: pointer; color: rgb(0, 0, 0); }
.rightMenu:hover { transition: all 0.4s linear 0s; color: rgb(216, 7, 111); }
.leftMenu2 { position: relative; float: right; font-size: 1.9vw; margin: 0px 1.7vw 0px 0px; padding: 1vw 0px; font-family: PFDinTextCompPro; cursor: pointer; color: rgb(0, 0, 0); }
.leftMenu2:hover { transition: all 0.4s linear 0s; color: rgb(216, 7, 111); }
.rightMenu2 { position: relative; float: left; font-size: 1.9vw; margin: 0px 0px 0px 1.7vw; padding: 1vw 0px; font-family: PFDinTextCompPro; cursor: pointer; color: rgb(0, 0, 0); }
.rightMenu2 i { margin-top: 0.2vw; }
.rightMenu2:hover { transition: all 0.4s linear 0s; color: rgb(216, 7, 111); }
.inMenuBlock { position: absolute; left: 0px; bottom: 0.4vw; width: 100%; height: 0.7vw; overflow-x: hidden; }
.imbLeftImage { position: absolute; left: 0px; top: 0px; width: 50%; height: 0.7vw; background: url("podmenu2left.png") right center / auto 100% no-repeat; z-index: 5; }
.imbLeftWhite { position: absolute; left: 0px; top: 0px; width: 50%; height: 0.7vw; background: url("background.jpg"); z-index: 10; }
.imbLeftWhite2 { position: absolute; left: 0px; top: 0px; width: 50%; height: 0.7vw; background: rgb(255, 255, 255); z-index: 10; }
.imbRightImage { position: absolute; right: 0px; top: 0px; width: 50%; height: 0.7vw; background: url("podmenu2right.png") left center / auto 100% no-repeat; z-index: 5; }
.imbRightWhite { position: absolute; right: 0px; top: 0px; width: 50%; height: 0.7vw; background: url("background.jpg"); z-index: 10; }
.imbRightWhite2 { position: absolute; right: 0px; top: 0px; width: 50%; height: 0.7vw; background: rgb(255, 255, 255); z-index: 10; }
.lzabel { position: absolute; left: 0px; top: 0px; width: 1vw; height: 0.7vw; background: linear-gradient(to right, rgb(247, 247, 247), rgba(255, 255, 255, 0)); z-index: 15; }
.rzabel { position: absolute; right: 0px; top: 0px; width: 1vw; height: 0.7vw; background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(247, 247, 247)); z-index: 15; }
.lzabel2 { position: absolute; left: 0px; top: 0px; width: 1vw; height: 0.7vw; background: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0)); z-index: 15; }
.rzabel2 { position: absolute; right: 0px; top: 0px; width: 1vw; height: 0.7vw; background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255)); z-index: 15; }
.leftMenu:hover .imbLeftWhite { transition: all 0.7s ease-out 0s; left: -50%; }
.leftMenu:hover .imbRightWhite { transition: all 0.7s ease-out 0s; right: -50%; }
.rightMenu:hover .imbLeftWhite { transition: all 0.7s ease-out 0s; left: -50%; }
.rightMenu:hover .imbRightWhite { transition: all 0.7s ease-out 0s; right: -50%; }
.leftMenu2:hover .imbLeftWhite2 { transition: all 0.7s ease-out 0s; left: -50%; }
.leftMenu2:hover .imbRightWhite2 { transition: all 0.7s ease-out 0s; right: -50%; }
.rightMenu2:hover .imbLeftWhite2 { transition: all 0.7s ease-out 0s; left: -50%; }
.rightMenu2:hover .imbRightWhite2 { transition: all 0.7s ease-out 0s; right: -50%; }
#homeContent { width: calc(100% - 4vw); padding: 3vw 2vw; }
#footer { position: relative; width: 100%; min-height: 56.25vw; height: 56.25vw; background: url("footer2.jpg") center center / cover no-repeat; }
#fire { position: absolute; left: 9.8vw; bottom: 7vw; width: 9vw; height: 11.94vw; background: url("fire.png") center bottom / cover no-repeat; animation: 3s linear 0s infinite normal none running fire; }
#footText { position: absolute; right: 10vw; top: 18vw; width: 35vw; font-size: 1.1vw; }
#footText p { font-size: 1.1vw; }
#middle { position: relative; width: 100%; padding: 0px; }
.HEAD_PHONE { display: table; margin: 0.5vw auto 1vw; text-decoration: none; color: rgb(168, 0, 67); font-size: 2.2vw; font-weight: bold; }
.BRB_TABLE { width: 90%; margin: 1vw auto; display: table; }
.BRB_TABLE > div { display: table-cell; vertical-align: middle; width: 50%; }
.bigRedButton { display: table; width: 90%; height: 7vw; margin: 0px auto; background: url("1116.jpg") center center / cover no-repeat; border-radius: 0.5vw; box-shadow: rgb(97, 11, 0) 0.1vw 0.1vw 0.8vw -0.3vw inset; cursor: pointer; transition: all 0.3s ease 0s; }
.bigRedButton > p { display: table-cell; vertical-align: middle; color: rgb(255, 255, 255); font-size: 3.4vw; font-weight: bold; letter-spacing: 0.2vw; text-align: center; text-transform: uppercase; font-family: PFDinTextCompPro; text-shadow: rgb(113, 14, 0) 0px 0px 0.2vw, rgb(160, 20, 0) 0px 0px 0.4vw; transition: all 0.3s ease 0s; }
.bigRedButton:hover { box-shadow: rgb(255, 255, 255) 0.1vw 0.1vw 2vw -0.3vw inset; }
.bigRedButton:hover > p { text-shadow: rgb(255, 109, 88) 0px 0px 0.2vw, rgb(255, 230, 226) 0px 0px 0.4vw; }
.bigCat { position: relative; width: 22vw; height: 22vw; border-radius: 50%; opacity: 0.7; box-shadow: rgb(101, 101, 101) 1vw 1vw 2vw -1vw, rgba(255, 255, 255, 0.8) 0px 0px 1vw inset; cursor: pointer; transition: all 0.3s linear 0s; overflow: hidden; }
.bigCat:hover { box-shadow: rgb(53, 53, 53) 1vw 1vw 3.6vw -1.2vw; opacity: 1; }
.whiteText { position: absolute; left: 0px; bottom: 0.5vw; width: 100%; height: 3vw; background: rgba(255, 255, 255, 0.95); border-top: 1px solid rgb(74, 74, 74); border-bottom: 1px solid rgb(74, 74, 74); opacity: 0.9; transition: all 0.6s cubic-bezier(0.0797, 1.0322, 0.4797, 0.6932) 0s; }
.bigCat:hover .whiteText { opacity: 1; transform: translateY(-1vw); }
.wtP { font-size: 1.4vw; text-align: center; margin: 0.4vw 0px 0px; color: rgb(0, 0, 0); }
#cat1 { background: url("cat1.jpg") center center / cover no-repeat; }
#cat2 { background: url("cat2.jpg") center center / cover no-repeat; }
#cat3 { background: url("cat3.jpg") center center / cover no-repeat; }
#cat4 { background: url("cat4.jpg") center center / cover no-repeat; }
#conBlock { margin-top: 5vw; }
#leftMenuBlock { width: calc(23.5% - 1px); float: left; background: rgb(247, 247, 247); border-right: 1px solid rgb(189, 189, 189); border-bottom: 1px solid rgb(189, 189, 189); margin-bottom: 2vw; border-radius: 0px 0px 1vw; }
#rightContent { width: calc(76.5% - 2vw); min-height: 500px; float: left; padding: 0px 1vw 1vw; }
.lmBlock { position: relative; width: calc(100% - 2vw); padding: 1vw; }
.lmImg { width: 6vw; height: 6vw; border-radius: 50%; box-shadow: rgb(101, 101, 101) 1vw 1vw 2vw -1vw, rgba(255, 255, 255, 0.2) 0.25vw 0.25vw 3vw inset, rgba(0, 0, 0, 0.2) -0.25vw -0.25vw 3vw inset; cursor: pointer; transition: all 0.3s linear 0s; }
#li1 { background: url("cat1.jpg") center center / cover no-repeat; }
#li2 { background: url("cat2.jpg") center center / cover no-repeat; }
#li3 { background: url("cat3.jpg") center center / cover no-repeat; }
#li4 { background: url("cat4.jpg") center center / cover no-repeat; }
.lmName { font-size: 2.2vw; margin: 1.7vw 0px 1vw 1vw; font-family: PFDinTextCompPro; color: rgb(0, 0, 0); }
.lmName:hover { color: rgb(255, 51, 145); }
.lmName2 { font-size: 1.3vw; margin: 0px 0px 0px 1vw; font-variant: small-caps; text-transform: lowercase; color: rgb(0, 0, 0); text-decoration: none; }
.lmName2:hover { color: rgb(255, 51, 145); text-decoration: underline; }
.lmNameActive { color: rgb(255, 51, 145); text-decoration: underline; }
.pageimg { width: 25vw; margin: 0px 1vw 1vw 0px; float: left; border: 1px solid rgb(210, 210, 210); }
.inp0Link { color: rgb(0, 0, 0); text-decoration: none; }
.inp0Block { width: calc(33.3333% - 2vw); float: left; margin: 2vw 1vw; height: 35.4vw; }
.inp0Image { width: 100%; height: 20vw; border: 1px solid rgb(193, 193, 193); }
.inp0Hidden { width: 100%; max-height: 11.5vw; overflow-y: hidden; margin-bottom: 2vh; }
.inp0Name { text-align: center; font-weight: bold; font-size: 1.2vw; margin: 10px 0px; }
.inp0Text { font-size: 0.9vw; text-align: justify; }
.inp0Date { font-size: 0.8vw; font-variant: small-caps; }
.inp0More { width: 9vw; padding: 0.3vw 0px 0.4vw; background: linear-gradient(rgb(193, 82, 128), rgb(115, 8, 77)); color: rgb(255, 255, 255); text-align: center; border-radius: 4px; border: 1px solid rgb(114, 53, 20); font-size: 1.2vw; font-family: PFDinTextCompPro; }
.inp0More:hover { background: linear-gradient(rgb(255, 140, 198), rgb(154, 9, 63)); }
.inp1Link { color: rgb(0, 0, 0); text-decoration: none; }
.inp1Link:hover { color: rgb(255, 51, 145); text-decoration: underline; }
.inp1Block { position: relative; width: calc((20% - 1vw) - 2px); height: 13vw; float: left; margin: 0.5vw; border: 1px solid rgb(193, 193, 193); }
.inp1Name { position: absolute; left: 0px; bottom: 0px; width: 100%; text-align: center; font-size: 1.3vw; line-height: 80%; padding: 0.5vw 0px; background: rgba(247, 247, 247, 0.85); border-top: 1px solid rgb(150, 150, 150); }
.inp2Link { color: rgb(0, 0, 0); text-decoration: none; }
.inp2Link:hover { color: rgb(255, 51, 145); text-decoration: underline; }
.inp2Name { font-size: 1.6vw; font-family: PFDinTextCompPro; margin: 0.5vw; letter-spacing: 1px; }
.inp3Block { width: calc(100% - 2vw); padding: 1vw; margin: 1vw 0px; }
.inp3Name { font-size: 1.6vw; margin: 0px; }
.inp3Image { float: left; width: 13vw; margin: 0px 1vw 1vw 0px; }
.inp3Text { font-size: 14px; }
.inp3Phoos { width: calc(12.5% - 0.4vw); height: 6vw; margin: 0.2vw; float: left; }
.inp5Block { width: calc(100% - 2vw); padding: 1vw; margin: 1vw 0px; }
.inp5Image { float: left; width: 16vw; height: 16vw; margin: 0px 2vw 0px 0px; position: relative; border-radius: 2%; border: 1px solid rgb(136, 9, 44); }
.inp5Text { float: right; width: calc((100% - 18vw) - 2px); vertical-align: top; font-family: Alexander; font-size: 1.8vw; line-height: 2vw; color: rgb(136, 9, 44); }
.inp5Text p { font-family: Alexander; font-size: 1.8vw; line-height: 2vw; margin: 0px 0px 1vw; color: rgb(136, 9, 44); }
.inImageTop { position: absolute; left: 3%; top: 0px; width: 100%; height: 8%; background: url("") left center / contain no-repeat; transform: scale(1, -1); }
.inImageBottom { position: absolute; right: 3%; bottom: 0px; width: 100%; height: 8%; background: url("") left center / contain no-repeat; transform: scale(-1, 1); }
.inImageLeft { position: absolute; left: 4%; top: -1%; width: 100%; height: 8%; background: url("") left center / contain no-repeat; transform: rotate(90deg); transform-origin: 0% 50% 0px; }
.inImageRight { position: absolute; right: 4%; top: -7%; width: 100%; height: 8%; background: url("") left center / contain no-repeat; transform: rotate(90deg) scale(-1, 1) scale(1, -1); transform-origin: 100% 50% 0px; }
.imsmall { width: calc(16.6667% - 0.4vw); height: 8vw; margin: 0.2vw; float: left; transition: all 0.15s linear 0s; }
.imsmall:hover { box-shadow: rgb(101, 101, 101) 0.5vw 0.5vw 0.7vw -0.5vw; }
.vidtr tr:hover { background: rgb(243, 231, 231); }
.input_text { width: 400px; height: 42px; padding: 10px; font-size: 17px; border: 1px solid rgb(192, 75, 85); border-radius: 2px; background: rgb(255, 255, 255); }
.input_submit { border: 1px solid rgb(96, 45, 13); border-radius: 3px; padding: 7px; background: linear-gradient(rgb(226, 86, 111), rgb(138, 59, 46)); color: rgb(255, 255, 255); width: 240px; font-size: 19px; height: 50px; cursor: pointer; margin-top: 6px; }
.input_submit:hover { background: linear-gradient(rgb(245, 118, 188), rgb(146, 43, 71)); }
#ot_block { position: relative; width: 430px; }
#ot_true { position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; z-index: 10; background: rgb(211, 241, 255); text-align: center; line-height: 290px; }
.qqq { width: 95%; max-width: 800px; }
#cb_black { position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; background: rgba(160, 26, 94, 0.5); display: none; z-index: 50; }
#cb_right { position: fixed; top: 0px; right: 0px; width: 280px; height: 100%; padding: 0px 20px; background: rgba(80, 0, 30, 0.85); display: none; z-index: 100; }
#cb_bl { width: 100%; display: table-cell; vertical-align: middle; text-align: center; }
.cb_question { color: rgb(255, 255, 255); text-align: center; font-size: 30px; }
.cb_input_text { width: calc(100% - 24px); height: 50px; padding: 0px 6px; font-size: 22px; text-align: center; margin: 0px 0px 10px; background: rgb(53, 2, 20); border: 1px solid rgb(160, 53, 119); border-radius: 3px; color: rgb(253, 191, 214); }
.cb_input_text::-webkit-input-placeholder { color: rgb(195, 195, 195); }
.cb_input_text::placeholder { color: rgb(195, 195, 195); }
.cb_input_submit { padding: 14px 20px 10px; font-size: 18px; margin: 14px 0px 10px; border: 1px solid rgb(72, 2, 14); border-radius: 5px; background: linear-gradient(rgb(236, 146, 219), rgb(167, 32, 75)); color: rgb(255, 255, 255); box-shadow: rgb(66, 4, 38) 3px 3px 10px; cursor: pointer; }
.cb_input_submit:hover { background: linear-gradient(rgb(241, 6, 49), rgb(152, 0, 84)); }
.cbClose { position: absolute; top: 10px; right: 15px; padding: 10px; color: rgb(214, 214, 214); font-size: 28px; cursor: pointer; transition: all 0.15s linear 0s; }
.cbClose:hover { color: rgb(243, 112, 112); }
.sendtrue { position: fixed; width: 400px; height: 140px; top: calc(50% - 70px); left: calc(50% - 200px); background: rgba(212, 255, 217, 0.9); border: 1px solid rgba(0, 0, 0, 0.82); box-shadow: rgba(0, 0, 0, 0.59) 3px 5px 20px; display: table; z-index: 150; }
.sendfalse { position: fixed; width: 400px; height: 140px; top: calc(50% - 70px); left: calc(50% - 200px); background: rgba(255, 227, 202, 0.9); border: 1px solid rgba(160, 0, 0, 0.82); box-shadow: rgba(88, 0, 0, 0.59) 3px 5px 20px; display: table; z-index: 150; color: rgb(177, 0, 0); }
.sendtrue p, .sendfalse p { display: table-cell; vertical-align: middle; font-size: 20px; text-align: center; }
.phone { position: fixed; right: 50px; bottom: 50px; width: 102px; height: 102px; border-radius: 50%; cursor: pointer; z-index: 10; }
@keyframes ch1 { 
  0% { opacity: 0; transform: scale(1); }
  50% { opacity: 0.8; transform: scale(1.8); }
  100% { opacity: 0; transform: scale(1); }
}
@-webkit-keyframes ch1 { 
  0% { opacity: 0; transform: scale(1); }
  50% { opacity: 0.8; transform: scale(1.8); }
  100% { opacity: 0; transform: scale(1); }
}
.phone > div:nth-child(1) { position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; border-radius: 50%; z-index: 2; transform: scale(1); background: radial-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4), rgba(204, 44, 159, 0.8)); animation: 2.5s linear 0s infinite normal none running ch1; }
@keyframes ch2 { 
  0% { opacity: 1; transform: scale(1); }
  100% { opacity: 0; transform: scale(2); }
}
@-webkit-keyframes ch2 { 
  0% { opacity: 1; transform: scale(1); }
  100% { opacity: 0; transform: scale(2); }
}
.phone > div:nth-child(2) { position: absolute; left: -1px; top: -1px; width: 100px; height: 100px; border-radius: 50%; z-index: 3; border: 2px solid rgb(173, 28, 162); animation: 2s ease-in-out 0s infinite normal none running ch2; }
@keyframes ch3 { 
  0% { transform: rotate(0deg); }
  40% { transform: rotate(0deg); }
  50% { transform: rotate(15deg); }
  55% { transform: rotate(-25deg); }
  60% { transform: rotate(10deg); }
  65% { transform: rotate(-5deg); }
  70% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}
@-webkit-keyframes ch3 { 
  0% { transform: rotate(0deg); }
  40% { transform: rotate(0deg); }
  50% { transform: rotate(15deg); }
  55% { transform: rotate(-25deg); }
  60% { transform: rotate(10deg); }
  65% { transform: rotate(-5deg); }
  70% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}
.phone > div:nth-child(3) { position: absolute; left: 0px; top: 0px; width: 100px; height: 100px; border-radius: 50%; display: table; z-index: 7; border: 1px solid rgb(230, 161, 213); background: rgba(255, 255, 255, 0.9); animation: 3s linear 0s infinite normal none running ch3; }
.phone > div:nth-child(3) i { display: table-cell; vertical-align: middle; text-align: center; font-size: 50px; color: rgb(221, 70, 171); }