.t-body {
    margin: 0px;
}

#allrecords {
    -webkit-font-smoothing: antialiased;
    background-color: none;
}

#allrecords a {
    color: #333333;
    text-decoration: none;
}

#allrecords a[href^=tel] {
    color: inherit;
    text-decoration: none;
}

#allrecords ol {
    padding-left: 22px;
}

#allrecords ul {
    padding-left: 20px;
}

#allrecords b,
#allrecords strong {
    font-weight: bold;
}

@media print {
    body,
    html {
        min-width: 1200px;
        max-width: 1200px;
        padding: 0;
        margin: 0 auto;
        border: none;
    }
}



/* Typo */

.t-text {
    font-family: 'Montserrat',Arial,sans-serif;
    font-weight: 400;
    color: #000000;
}

.t-text_xs {
    font-size: 15px;
    line-height: 1.55;
}

.t-text_sm {
    font-size: 18px;
    line-height: 1.55;
}

.t-text_md {
    font-size: 20px;
    line-height: 1.55;
}

.t-text_lg {
    font-size: 22px;
    line-height: 1.55;
}

.t-text_weight_plus {
    font-weight: 500;
}


.t-text-impact {
    font-family: 'Montserrat',Arial,sans-serif;
    font-weight: 400;
    color: #000000;
}

.t-text-impact_xs {
    font-size: 26px;
    line-height: 1.50;
}

.t-text-impact_sm {
    font-size: 32px;
    line-height: 1.35;
}

.t-text-impact_md {
    font-size: 38px;
    line-height: 1.35;
}

.t-text-impact_lg {
    font-size: 42px;
    line-height: 1.23;
}


.t-name {
    font-family: 'Montserrat',Arial,sans-serif;
    font-weight: 600;
    color: #000000;
}

.t-name_xs {
    font-size: 16px;
    line-height: 1.35;
}

.t-name_sm {
    font-size: 18px;
    line-height: 1.35;
}

.t-name_md {
    font-size: 20px;
    line-height: 1.35;
}

.t-name_lg {
    font-size: 22px;
    line-height: 1.35;
}

.t-name_xl {
    font-size: 24px;
    line-height: 1.35;
}


.t-heading {
    font-family: 'Montserrat',Arial,sans-serif;
    font-weight: 600;
    color: #000000;
}

.t-heading_xs {
    font-size: 26px;
    line-height: 1.23;
}

.t-heading_sm {
    font-size: 28px;
    line-height: 1.17;
}

.t-heading_md {
    font-size: 30px;
    line-height: 1.17;
}

.t-heading_lg {
    font-size: 32px;
    line-height: 1.17;
}


.t-title {
    font-family: 'Montserrat',Arial,sans-serif;
    font-weight: 600;
    color: #000000;
}

.t-title_xxs {
    font-size: 36px;
    line-height: 1.23;
}

.t-title_xs {
    font-size: 42px;
    line-height: 1.23;
}

.t-title_sm {
    font-size: 48px;
    line-height: 1.23;
}

.t-title_md {
    font-size: 52px;
    line-height: 1.23;
}

.t-title_lg {
    font-size: 64px;
    line-height: 1.23;
}

.t-title_xl {
    font-size: 72px;
    line-height: 1.17;
}

.t-title_xxl {
    font-size: 82px;
    line-height: 1.17;
}


.t-descr {
    font-family: 'Montserrat',Arial,sans-serif;
    font-weight: 400;
    color: #000000;
}

.t-descr_xxs {
    font-size: 14px;
    line-height: 1.55;
}

.t-descr_xs {
    font-size: 16px;
    line-height: 1.55;
}

.t-descr_sm {
    font-size: 18px;
    line-height: 1.55;
}

.t-descr_md {
    font-size: 20px;
    line-height: 1.55;
}

.t-descr_lg {
    font-size: 22px;
    line-height: 1.55;
}

.t-descr_xl {
    font-size: 24px;
    line-height: 1.50;
}

.t-descr_xxl {
    font-size: 26px;
    line-height: 1.45;
}

.t-descr_xxxl {
    font-size: 30px;
    line-height: 1.45;
    letter-spacing: 0.45;
}


.t-uptitle {
    font-family: 'Montserrat',Arial,sans-serif;
    font-weight: 600;
    color: #000000;
    letter-spacing: 2.5px;
}

.t-uptitle_xs {
    font-size: 12px;
}

.t-uptitle_sm {
    font-size: 14px;
}

.t-uptitle_md {
    font-size: 16px;
}

.t-uptitle_lg {
    font-size: 18px;
}

.t-uptitle_xl {
    font-size: 20px;
    letter-spacing: 2px;
}

.t-uptitle_xxl {
    font-size: 22px;
    letter-spacing: 2px;
}

.t-uptitle_xxxl {
    font-size: 24px;
    letter-spacing: 2px;
}


@media screen and (max-width: 1200px) {
    .t-text_xs {
        font-size: 14px;
    }

    .t-text_sm {
        font-size: 16px;
    }

    .t-text_md {
        font-size: 18px;
    }

    .t-text_lg {
        font-size: 20px;
    }

    .t-text-impact_md {
        font-size: 30px;
    }


    .t-descr_xxs {
        font-size: 12px;
    }

    .t-descr_xs {
        font-size: 14px;
    }

    .t-descr_sm {
        font-size: 16px;
    }

    .t-descr_md {
        font-size: 18px;
    }

    .t-descr_lg {
        font-size: 20px;
    }

    .t-descr_xl {
        font-size: 22px;
    }

    .t-descr_xxl {
        font-size: 22px;
    }

    .t-descr_xxxl {
        font-size: 26px;
    }


    .t-uptitle_md {
        font-size: 14px;
    }

    .t-uptitle_lg {
        font-size: 16px;
    }

    .t-uptitle_xl {
        font-size: 18px;
    }

    .t-uptitle_xxl {
        font-size: 20px;
    }

    .t-uptitle_xxxl {
        font-size: 22px;
    }


    .t-title_xxs {
        font-size: 32px;
    }

    .t-title_xs {
        font-size: 38px;
    }

    .t-title_sm {
        font-size: 44px;
    }

    .t-title_md {
        font-size: 48px;
    }

    .t-title_lg {
        font-size: 60px;
    }

    .t-title_xl {
        font-size: 68px;
    }

    .t-title_xxl {
        font-size: 78px;
    }


    .t-name_xs {
        font-size: 14px;
    }

    .t-name_sm {
        font-size: 16px;
    }

    .t-name_md {
        font-size: 18px;
    }

    .t-name_lg {
        font-size: 20px;
    }

    .t-name_xl {
        font-size: 22px;
    }


    .t-heading_xs {
        font-size: 24px;
    }

    .t-heading_sm {
        font-size: 26px;
    }

    .t-heading_md {
        font-size: 28px;
    }

    .t-heading_lg {
        font-size: 30px;
    }

}


@media screen and (max-width: 640px) {
    .t-text_xs {
        font-size: 12px;
        line-height: 1.45;
    }

    .t-text_sm {
        font-size: 14px;
        line-height: 1.45;
    }

    .t-text_md {
        font-size: 16px;
        line-height: 1.45;
    }

    .t-text_lg {
        font-size: 18px;
        line-height: 1.45;
    }

    .t-text-impact_sm {
        font-size: 22px;
    }

    .t-text-impact_md {
        font-size: 26px;
    }

    .t-text-impact_lg {
        font-size: 28px;
    }


    .t-descr_xs {
        font-size: 12px;
        line-height: 1.45;
    }

    .t-descr_sm {
        font-size: 14px;
        line-height: 1.45;
    }

    .t-descr_md {
        font-size: 16px;
        line-height: 1.45;
    }

    .t-descr_lg {
        font-size: 18px;
        line-height: 1.45;
    }

    .t-descr_xl {
        font-size: 20px;
        line-height: 1.40;
    }

    .t-descr_xxl {
        font-size: 20px;
    }

    .t-descr_xxxl {
        font-size: 22px;
    }


    .t-uptitle_xs {
        font-size: 10px;
    }

    .t-uptitle_sm {
        font-size: 10px;
    }

    .t-uptitle_md {
        font-size: 12px;
    }

    .t-uptitle_lg {
        font-size: 14px;
    }

    .t-uptitle_xl {
        font-size: 16px;
    }

    .t-uptitle_xxl {
        font-size: 18px;
    }

    .t-uptitle_xxxl {
        font-size: 20px;
    }


    .t-title_xxs {
        font-size: 28px;
    }

    .t-title_xs {
        font-size: 30px;
    }

    .t-title_sm {
        font-size: 30px;
    }

    .t-title_md {
        font-size: 30px;
    }

    .t-title_lg {
        font-size: 30px;
    }

    .t-title_xl {
        font-size: 32px;
    }

    .t-title_xxl {
        font-size: 36px;
    }


    .t-name_xs {
        font-size: 12px;
    }

    .t-name_sm {
        font-size: 14px;
    }

    .t-name_md {
        font-size: 16px;
    }

    .t-name_lg {
        font-size: 18px;
    }

    .t-name_xl {
        font-size: 20px;
    }


    .t-heading_xs {
        font-size: 22px;
    }

    .t-heading_sm {
        font-size: 24px;
    }

    .t-heading_md {
        font-size: 24px;
    }

    .t-heading_lg {
        font-size: 26px;
    }
}


@media screen and (max-width: 480px) {
    .t-title_xl {
        font-size: 30px;
    }

    .t-title_xxl {
        font-size: 30px;
    }
}



/* Records */

.t-records {
    -webkit-font_smoothing: antialiased;
    background-color: none;
}

.t-records a {
    color: #333333;
    text-decoration: none;
}

.t-records a[href^=tel] {
    color: inherit;
    text-decoration: none;
}

.t-records ol {
    padding-left: 22px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.t-records ul {
    padding-left: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
}


/* Btn */

.t-btn {
    display: inline-block;
    font-family: 'Montserrat',Arial,sans-serif;
    height: 60px;
    border: 0 none;
    font-size: 16px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-weight: bold;
    background-image: none;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.t-btn td {
    vertical-align: middle;
}

.t-btn_sending {
    opacity: 0.5;
}

@media screen and (max-width: 640px) {
    .t-btn {
        white-space: normal;
        padding-left: 30px;
        padding-right: 30px;
    }
}

.t-btn_xs {
    height: 35px;
    font-size: 13px;
    padding-left: 15px;
    padding-right: 15px;
}

.t-btn_sm {
    height: 45px;
    font-size: 14px;
    padding-left: 30px;
    padding-right: 30px;
}

.t-btn_lg {
    height: 60px;
    font-size: 22px;
    padding-left: 70px;
    padding-right: 70px;
}

.t-btn_xl {
    height: 80px;
    font-size: 26px;
    padding-left: 80px;
    padding-right: 80px;
}

.t-btn_xxl {
    height: 100px;
    font-size: 30px;
    padding-left: 90px;
    padding-right: 90px;
}

@media screen and (max-width: 640px) {
    .t-btn_sm {
        padding-left: 20px;
        padding-right: 20px;
    }

    .t-btn_lg {
        font-size: 18px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .t-btn_xl {
        font-size: 22px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .t-btn_xxl {
        font-size: 26px;
        padding-left: 60px;
        padding-right: 60px;
    }
}

.t-btntext {
    font-family: 'Montserrat',Arial,sans-serif;
    color: #000000;
    font-size: 20px;
    line-height: 1.55;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
}

.t-btntext_sm {
    font-size: 16px;
}

.t-btntext_lg {
    font-size: 24px;
}

.t-uppercase.t-btntext {
    font-size: 16px;
}

.t-uppercase.t-btntext_sm {
    font-size: 14px;
}

.t-uppercase.t-btntext_lg {
    font-size: 20px;
}

.t-btntext:after {
    content: "\00a0→";
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width:640px) {
    .t-btntext_lg {
        font-size: 20px;
    }
}


/* Screen min max */

@media screen and (max-width: 1200px) {
    .t-screenmin-1200px {
        display: none;
    }
}

@media screen and (max-width: 980px) {
    .t-screenmin-980px {
        display: none;
    }
}

@media screen and (max-width: 640px) {
    .t-screenmin-640px {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .t-screenmin-480px {
        display: none;
    }
}

@media screen and (max-width: 320px) {
    .t-screenmin-320px {
        display: none;
    }
}

@media screen and (min-width: 321px) {
    .t-screenmax-320px {
        display: none;
    }
}

@media screen and (min-width: 481px) {
    .t-screenmax-480px {
        display: none;
    }
}

@media screen and (min-width: 641px) {
    .t-screenmax-640px {
        display: none;
    }
}

@media screen and (min-width: 981px) {
    .t-screenmax-980px {
        display: none;
    }
}

@media screen and (min-width: 1201px) {
    .t-screenmax-1200px {
        display: none;
    }
}



.t-hidden {
    display: none;
}

.t-opacity_50 {
    filter: alpha(opacity=50);
    KHTMLOpacity: 0.50;
    MozOpacity: 0.50;
    opacity: 0.50;
}

.t-opacity_70 {
    filter: alpha(opacity=70);
    KHTMLOpacity: 0.70;
    MozOpacity: 0.70;
    opacity: 0.70;
}

.t-uppercase {
    text-transform: uppercase;
}

.t-align_center {
    text-align: center;
}

.t-align_left {
    text-align: left;
}

.t-align_right {
    text-align: right;
}

.t-margin_auto {
    margin-left: auto;
    margin-right: auto;
}

.t-valign_middle {
    vertical-align: middle;
}

.t-valign_top {
    vertical-align: top;
}

.t-valign_bottom {
    vertical-align: bottom;
}

.t-margin_left_auto {
    margin-right: 0;
    margin-left: auto;
}


/* Tilda label */

.t-tildalabel {
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 70px;
    font-family: Arial;
    font-size: 14px;
}

.t-tildalabel:hover .t-tildalabel__wrapper {
    opacity: 1;
}

.t-tildalabel_white {
    background-color: #fff;
    color: #000;
}

.t-tildalabel_gray {
    background-color: #eee;
    color: #000;
}

.t-tildalabel__wrapper {
    display: table;
    height: 30px;
    width: 270px;
    margin: 0 auto;
    padding-top: 20px;
    opacity: 0.4;
}

.t-tildalabel__txtleft {
    display: table-cell;
    width: 120px;
    height: 30px;
    vertical-align: middle;
    text-align: right;
    padding-right: 12px;
    font-weight: 300;
    font-size: 12px;
}

.t-tildalabel__wrapimg {
    display: table-cell;
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.t-tildalabel__img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.t-tildalabel__txtright {
    display: table-cell;
    width: 120px;
    height: 30px;
    vertical-align: middle;
    padding-left: 12px;
    font-weight: 500;
    letter-spacing: 2px;
}

.t-tildalabel__link {
    color: #fff;
    text-decoration: none;
    vertical-align: middle;
}

.t-tildalabel_white .t-tildalabel__link,
.t-tildalabel_gray .t-tildalabel__link {
    color: #000;
}

.t-tildalabel-free {
    padding: 35px 0px 45px;
    height: auto;
    text-align: center;
}

.t-tildalabel-free__main {
    max-width: 340px;
    display: block;
    margin: 0 auto;
    line-height: 1.4;
    letter-spacing: 0.2px;
    color: inherit;
    opacity: 0.4;
}

.t-tildalabel-free__links-wr {
    display: table;
    margin: 30px auto 0px;
}

.t-tildalabel-free__txt-link {
    display: table-cell;
    padding: 0px 15px;
    font-size: 13px;
    text-decoration: none;
    color: inherit;
    opacity: 0.25;
}

.t-tildalabel-free__txt-link:hover,
.t-tildalabel-free__main:hover {
    opacity: 1;
}

@media screen and (max-width: 640px) {
    .t-tildalabel-free__txt-link {
        display: block;
        padding: 5px 30px;
    }

    .t-tildalabel-free__main {
        opacity: 0.7;
    }

    .t-tildalabel-free__txt-link {
        opacity: 0.4;
    }
}


.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.t-mbfix {
    opacity: 0.01;
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    position: fixed;
    width: 100%;
    height: 500px;
    background-color: white;
    top: 0px;
    left: 0px;
    z-index: 10000;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.t-mbfix_hide {
    -webkit-transform: translateX(3000px);
    -ms-transform: translateX(3000px);
    transform: translateX(3000px);
}

.r_anim {
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.r_hidden {
    opacity: 0;
}

.r_showed {
    opacity: 1;
}

img:not([src]) {
    visibility: hidden;
}

.t-popup {
    display: none;
}

.t-body_scroll-locked {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


/* Form vars */

.t-submit {
    font-family: 'Montserrat',Arial,sans-serif;
}

.t-input {
    font-family: 'Montserrat',Arial,sans-serif;
}

.t-input__vis-ph {
    font-family: 'Montserrat',Arial,sans-serif;
}

.t-select {
    font-family: 'Montserrat',Arial,sans-serif;
}

.t-form .uploadcare-widget-button {
    font-family: 'Montserrat',Arial,sans-serif;
}

.t-input-error {
    font-family: 'Montserrat',Arial,sans-serif;
}

.t-form__errorbox-wrapper {
    font-family: 'Montserrat',Arial,sans-serif;
}

.t-form__errorbox-text {
    font-family: 'Montserrat',Arial,sans-serif;
}

.t-form__errorbox-item {
    font-family: 'Montserrat',Arial,sans-serif;
}

.t-form__successbox {
    font-family: 'Montserrat',Arial,sans-serif;
}

.t-rec_pt_0 {
    padding-top: 0;
}

.t-rec_pt_15 {
    padding-top: 15px;
}

.t-rec_pt_30 {
    padding-top: 30px;
}

.t-rec_pt_45 {
    padding-top: 45px;
}

.t-rec_pt_60 {
    padding-top: 60px;
}

.t-rec_pt_75 {
    padding-top: 75px;
}

.t-rec_pt_90 {
    padding-top: 90px;
}

.t-rec_pt_105 {
    padding-top: 105px;
}

.t-rec_pt_120 {
    padding-top: 120px;
}

.t-rec_pt_135 {
    padding-top: 135px;
}

.t-rec_pt_150 {
    padding-top: 150px;
}

.t-rec_pt_165 {
    padding-top: 165px;
}

.t-rec_pt_180 {
    padding-top: 180px;
}

.t-rec_pt_195 {
    padding-top: 195px;
}

.t-rec_pt_210 {
    padding-top: 210px;
}

.t-rec_pb_0 {
    padding-bottom: 0;
}

.t-rec_pb_15 {
    padding-bottom: 15px;
}

.t-rec_pb_30 {
    padding-bottom: 30px;
}

.t-rec_pb_45 {
    padding-bottom: 45px;
}

.t-rec_pb_60 {
    padding-bottom: 60px;
}

.t-rec_pb_75 {
    padding-bottom: 75px;
}

.t-rec_pb_90 {
    padding-bottom: 90px;
}

.t-rec_pb_105 {
    padding-bottom: 105px;
}

.t-rec_pb_120 {
    padding-bottom: 120px;
}

.t-rec_pb_135 {
    padding-bottom: 135px;
}

.t-rec_pb_150 {
    padding-bottom: 150px;
}

.t-rec_pb_165 {
    padding-bottom: 165px;
}

.t-rec_pb_180 {
    padding-bottom: 180px;
}

.t-rec_pb_195 {
    padding-bottom: 195px;
}

.t-rec_pb_210 {
    padding-bottom: 210px;
}

@media screen and (max-width: 480px) {
    .t-rec_pt_0 {
        padding-top: 0;
    }

    .t-rec_pt_15 {
        padding-top: 15px;
    }

    .t-rec_pt_30 {
        padding-top: 30px;
    }

    .t-rec_pt_45 {
        padding-top: 45px;
    }

    .t-rec_pt_60 {
        padding-top: 60px;
    }

    .t-rec_pt_75 {
        padding-top: 75px;
    }

    .t-rec_pt_90 {
        padding-top: 90px;
    }

    .t-rec_pt_105 {
        padding-top: 90px;
    }

    .t-rec_pt_120 {
        padding-top: 90px !important;
    }

    .t-rec_pt_135 {
        padding-top: 90px !important;
    }

    .t-rec_pt_150 {
        padding-top: 90px !important;
    }

    .t-rec_pt_165 {
        padding-top: 90px !important;
    }

    .t-rec_pt_180 {
        padding-top: 120px !important;
    }

    .t-rec_pt_195 {
        padding-top: 120px !important;
    }

    .t-rec_pt_210 {
        padding-top: 120px !important;
    }

    .t-rec_pb_0 {
        padding-bottom: 0;
    }

    .t-rec_pb_15 {
        padding-bottom: 15px;
    }

    .t-rec_pb_30 {
        padding-bottom: 30px;
    }

    .t-rec_pb_45 {
        padding-bottom: 45px;
    }

    .t-rec_pb_60 {
        padding-bottom: 60px;
    }

    .t-rec_pb_75 {
        padding-bottom: 75px;
    }

    .t-rec_pb_90 {
        padding-bottom: 90px;
    }

    .t-rec_pb_105 {
        padding-bottom: 90px;
    }

    .t-rec_pb_120 {
        padding-bottom: 90px !important;
    }

    .t-rec_pb_135 {
        padding-bottom: 90px !important;
    }

    .t-rec_pb_150 {
        padding-bottom: 90px !important;
    }

    .t-rec_pb_165 {
        padding-bottom: 90px !important;
    }

    .t-rec_pb_180 {
        padding-bottom: 120px !important;
    }

    .t-rec_pb_195 {
        padding-bottom: 120px !important;
    }

    .t-rec_pb_210 {
        padding-bottom: 120px !important;
    }
}

@media screen and (max-width: 480px) {
    .t-rec_pt-res-480_0 {
        padding-top: 0 !important;
    }

    .t-rec_pt-res-480_15 {
        padding-top: 15px !important;
    }

    .t-rec_pt-res-480_30 {
        padding-top: 30px !important;
    }

    .t-rec_pt-res-480_45 {
        padding-top: 45px !important;
    }

    .t-rec_pt-res-480_60 {
        padding-top: 60px !important;
    }

    .t-rec_pt-res-480_75 {
        padding-top: 75px !important;
    }

    .t-rec_pt-res-480_90 {
        padding-top: 90px !important;
    }

    .t-rec_pt-res-480_105 {
        padding-top: 105px !important;
    }

    .t-rec_pt-res-480_120 {
        padding-top: 120px !important;
    }

    .t-rec_pt-res-480_135 {
        padding-top: 135px !important;
    }

    .t-rec_pt-res-480_150 {
        padding-top: 150px !important;
    }

    .t-rec_pt-res-480_165 {
        padding-top: 165px !important;
    }

    .t-rec_pt-res-480_180 {
        padding-top: 180px !important;
    }

    .t-rec_pt-res-480_195 {
        padding-top: 195px !important;
    }

    .t-rec_pt-res-480_210 {
        padding-top: 210px !important;
    }

    .t-rec_pb-res-480_0 {
        padding-bottom: 0 !important;
    }

    .t-rec_pb-res-480_15 {
        padding-bottom: 15px !important;
    }

    .t-rec_pb-res-480_30 {
        padding-bottom: 30px !important;
    }

    .t-rec_pb-res-480_45 {
        padding-bottom: 45px !important;
    }

    .t-rec_pb-res-480_60 {
        padding-bottom: 60px !important;
    }

    .t-rec_pb-res-480_75 {
        padding-bottom: 75px !important;
    }

    .t-rec_pb-res-480_90 {
        padding-bottom: 90px !important;
    }

    .t-rec_pb-res-480_105 {
        padding-bottom: 105px !important;
    }

    .t-rec_pb-res-480_120 {
        padding-bottom: 120px !important;
    }

    .t-rec_pb-res-480_135 {
        padding-bottom: 135px !important;
    }

    .t-rec_pb-res-480_150 {
        padding-bottom: 150px !important;
    }

    .t-rec_pb-res-480_165 {
        padding-bottom: 165px !important;
    }

    .t-rec_pb-res-480_180 {
        padding-bottom: 180px !important;
    }

    .t-rec_pb-res-480_195 {
        padding-bottom: 195px !important;
    }

    .t-rec_pb-res-480_210 {
        padding-bottom: 210px !important;
    }
} 
/* T107 */

.t107 {
  text-align: center;
}

.t107__width {
  vertical-align: middle;
}

.t107__widthauto {
  width:auto;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.t107__title {
  padding-top: 28px;
  padding-bottom: 28px;
  font-size: 14px;
  line-height: 28px;
}

 
/* T015 */
.t015 {
    box-sizing: border-box;
}

.t015__title {
  padding-top: 8px;
  padding-bottom: 3px;
}

.t015__uptitle {
  padding-top: 10px;
  padding-bottom: 40px;
}

.t015__descr {
  padding: 41px 0px 0px 0px;
}

 
/* T051 */

.t051 {
}

.t051__text {
	text-align: center;
}

 
/* T004 */

.t004 {
	padding-top:8px;
	padding-bottom:6px;
	position: relative;
}

.t004__text-column-count_2{
	column-count: 2;
	column-gap: 40px;
	-moz-column-count: 2;
	-moz-column-gap: 40px;
	-webkit-column-count: 2;
	-webkit-column-gap: 40px;	
}

.t004__text-column-count_3{
	column-count: 3;
	column-gap: 40px;
	-moz-column-count: 3;
	-moz-column-gap: 40px;
	-webkit-column-count: 3;
	-webkit-column-gap: 40px;	
}

.t004__text-column-count_4{
	column-count: 4;
	column-gap: 40px;
	-moz-column-count: 4;
	-moz-column-gap: 40px;
	-webkit-column-count: 4;
	-webkit-column-gap: 40px;	
}

.t004__initial-letter::first-letter{
    font-size: 100px;
    float: left;
    line-height: .65;
    margin: 10px 10px 10px 0;
}

.t004 table {
  border-collapse: collapse;
  font-size: 1em;
  width: 100%;
}
.t004 table td,
.t004 table th {
  padding: 5px;
  border: 1px solid #ddd;
  vertical-align: top;
}
.t004 table thead td,
.t004 table th {
  font-weight: bold;
  border-bottom-color: #888;
}

@media screen and (max-width: 1200px){
.t004__text-column-count_2,
.t004__text-column-count_3,
.t004__text-column-count_4{
	column-gap: 20px;
	-moz-column-gap: 20px;
	-webkit-column-gap: 20px;	
}
}

@media screen and (max-width: 960px){
.t004__text-column-count_2,
.t004__text-column-count_3,
.t004__text-column-count_4{
	column-count: 1;
	column-gap: 0px;
	-moz-column-count: 1;
	-moz-column-gap: 0px;
	-webkit-column-count: 1;
	-webkit-column-gap: 0px;	
}
}

@media screen and (max-width: 640px){
.t004 h1 {
	font-size: 28px;
	line-height: 35px;
}
}
 
/* T119 */

.t119__preface {
    color: #000;
	font-size: 30px;
	line-height: 1.35;
}

@media screen and (max-width: 640px) {
    .t119__preface {
    	font-size: 22px;
    }
}

@media screen and (min-width: 960px) {
    .t119__preface {
		margin-top: -1px;
    }
}
 
/* T123 */

.t123 {
}

.t123__centeredContainer {
	text-align: center;
}
 
/* T356 */

.t356__title {
	padding-top:8px;
	padding-bottom:9px;	
}
.t356__text {
	padding-top:8px;
	padding-bottom:6px;	
} 
/* T029 */

.t029__container {
  text-align: center;
  padding-bottom: 8px;
}

.t029__col {
  float: none;
  display: inline-block;
}

.t029__linewrapper {
  position: relative;
}

.t029__line {
  width: 100%;
  height: 1px;
  display: table-cell;
}

.t029__opacity {
  display: table-cell;
  min-width: 200px;
  height: 1px;
}

@media screen and (max-width: 600px) {
  .t029__opacity {
    min-width: 120px;
  }
}
 
.t396{
}

.t396__iframe{
	z-index:10000;
	background-color:#fff;
	width: 100vw;
	height: 100vh;
	position:fixed;
	top:0px;
	left:0px;
	border:0px;
}

.t396__body_overflow_hidden{
	overflow:hidden;
}

.t396__display_none{
	display:none;
}

.t396__artboard{
	position:relative;
	width:100%;
	height:100vh;
	overflow:hidden;
}

.t396__artboard.rendering .tn-elem{
	visibility: hidden;
}

.t396__artboard.rendered .tn-elem{
	visibility: visible;
}

.t396__carrier{
	position:absolute;
	left:0px;
	top:0px;
	z-index:0;
	width:100%;
	height:100vh;
	-moz-transform: unset;
}

.t396__filter{
	position:absolute;
	left:0px;
	top:0px;
	z-index:1;
	width:100%;
	height:100vh;
	transform: translateZ(0);
}

.t396__elem{
	position:absolute;
	box-sizing: border-box;
	display: table;
}

.t396 .tn-atom{
	display: table-cell;
	vertical-align: middle;	
	width:100%;
	-webkit-text-size-adjust:100%;
	-moz-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
}

.t396 a.tn-atom{
	text-decoration:none;
}

.t396 .tn-atom__img{
	width:100%;
	display:block;
}

.t396 .tn-atom__html{
    vertical-align: top;	
}

.t396 .tn-atom__pin{
    border-radius:1000px;
    border-style:solid;
}

.t396 .tn-atom__pin_onclick{
    cursor:pointer;
}

.t396 .tn-atom__tip{
    position: absolute;
    box-sizing: border-box;
    width: 300px;
    max-width: 90vw;
    padding: 15px;
    display: none;
}

.t396 .tn-atom__pin:hover .tn-atom__tip{
    display: none;
}

.t396 .tn-atom__tip-img{
	width:100%;
	display:block;
	margin-bottom:10px;
}

.t396 .tn-atom__tip[data-tip-pos=top] {
    bottom: 100%;
    margin-bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.t396 .tn-atom__tip[data-tip-pos=bottom] {
    top: 100%;
    margin-top: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.t396 .tn-atom__tip[data-tip-pos=left] {
    right: 100%;
    margin-right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.t396 .tn-atom__tip[data-tip-pos=right] {
    left: 100%;
    margin-left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.t396__ui{
	position:absolute;
	top:16px;
	left:196px;
	background-color:#fa876b;
	color:#000 !important;
	height:30px;
	line-height:30px;
	width:100px;
	z-index:1000;
	text-align:center;
	border-radius:3px;
	display:none;
	font-size:14px;
}
 
/* T480 */

.t480__blockimg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.t480__textwrapper {
  display: table;
  width: 100%;
  height: 100%;
}

.t480__content {
  display: table-cell;
}

.t480__title {
  margin-bottom: 16px;
}

.t480__descr {
  margin-top: 28px;
}

.t480__uptitle {
  color: #666;
  margin-bottom: 28px;
}

.t480__line {
  max-width: 50px;
  width: 100%;
  height: 3px;
  background-color: #666;
  display: block;
}

.t480__sizer.t-col_1 {
  width: 60px !important;
  max-width: 60px !important;
}

.t480__sizer.t-col_2 {
  width: 160px !important;
  max-width: 160px !important;
}

.t480__sizer.t-col_3 {
  width: 260px !important;
  max-width: 260px !important;
}

.t480__sizer.t-col_4 {
  width: 360px !important;
  max-width: 360px !important;
}

.t480__sizer.t-col_5 {
  width: 460px !important;
  max-width: 460px !important;
}

.t480__sizer.t-col_6 {
  width: 560px !important;
  max-width: 560px !important;
}

.t480__sizer.t-col_7 {
  width: 660px !important;
  max-width: 660px !important;
}

.t480__sizer.t-col_8 {
  width: 760px !important;
  max-width: 760px !important;
}

.t480__sizer.t-col_9 {
  width: 860px !important;
  max-width: 860px !important;
}

.t480__sizer.t-col_10 {
  width: 960px !important;
  max-width: 960px !important;
}

.t480__sizer.t-col_11 {
  width: 1060px !important;
  max-width: 1060px !important;
}

.t480__sizer.t-col_12 {
  width: 1160px !important;
  max-width: 1160px !important;
}

.t480__btn-container {
	width: 100%;
}

.t480__btn-wrapper {
	display: inline-block;
	padding-top: 60px;
}

.t480__btntext-wrapper {
	display: inline-block;
	padding-top: 45px;
}

@media screen and (max-width: 960px) {
  .t480__top {
    margin-bottom: 30px;
  }

  .t480__textwrapper {
    height: auto !important;
  }

  .t480__btn-wrapper {
      padding-top: 40px;
      padding-bottom: 40px;
  }

  .t480__btntext-wrapper {
      padding-top: 20px;
  }
} 
/* t558 */
.t558 .t-section__topwrapper {
  margin-bottom: 90px;
}

.t558 .t-section__title {
  margin-bottom: 40px;
}

.t558 .t-section__descr {
  max-width: 560px;
}

.t558 .t-section__bottomwrapper {
  margin-top: 35px
}

.t558__separator {
  margin-bottom: 60px;
}

.t558__bgimg {
  width: 100px;
  height: 100px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 3px;
}

.t558__bubble-tail {
  position: absolute;
  right: -35px;
  top: 50%;
  width: 0;
  height: 0;
  border: 9px solid;
  border-color: #fff #fff transparent transparent;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  margin-top: -6px;
}

.t558__bubble-tail_right {
  position: absolute;
  left: -35px;
  top: 50%;
  width: 0;
  height: 0;
  border: 9px solid;
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  border-color: #fff transparent transparent #fff;
  margin-top: -6px;
}

.t558__bubble {
  padding: 25px 28px;
  background-color: #fff;
  border-radius: 3px;
}

.t558__name {
    padding-top: 0 !important;
}

.t558__descr {
  margin-top: 2px;
}

.t558__text {
  margin-top: 7px;
}

.t558__cell {
  padding-left: 26px;
}

.t558__cell_right {
  padding-left: 0;
  padding-right: 26px;
}

@media screen and (max-width: 960px){
  .t558 .t-section__bottomwrapper {
    margin-top: 20px;
  }

  .t558 .t-section__topwrapper {
    margin-bottom: 40px;
  }

  .t558 .t-section__title {
    margin-bottom: 20px;
  }

  .t558__separator {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 640px){
  .t558__bgimg {
    width: 40px !important;
    height: 40px !important;
  }

  .t558__bubble-tail {
    right: -28px;
  }

  .t558__bubble-tail_right {
    position: absolute;
    left: -63px;
  }

  .t558__cell {
    padding-left: 14px;
  }

  .t558__cell_right {
    padding-left: 0;
    padding-right: 14px;
  }

  .t558__bubble {
    padding: 20px;
  }
} 
/* t613 */

.t613 .t-section__topwrapper {
  margin-bottom: 105px;
}

.t613 .t-section__title {
  margin-bottom: 40px;
  color: #fff;
}

.t613 .t-section__descr {
  max-width: 560px;
}

.t613__width_25 {
  width: 25%;
}

.t613__width_33 {
  width: 33.33%;
  width: calc(100%/3);
}

.t613__width_50 {
  width: 50%;
}

.t613__width_100 {
  width: 100%;
}

.t613__wrapper {
  overflow: hidden;
  border-radius: 3px;
  background-color: #fff;
  padding: 50px;
}

.t613__header {
  border-bottom: 1px solid #eee;
}

.t613__left, .t613__col {
  display: table-cell;
  overflow: hidden;
}

.t613__left {
  width: 200px;
  min-width: 200px;
}

.t613__left .t613__title {
  padding-left: 0;
}

.t613__middle .t613__col, .t613__bottom .t613__col {
  border-left: 1px solid #eee;
}

.t613__title {
  padding: 22px 20px;
}

.t613__header_title {
  padding-top: 0;
}

.t613__middle_item {
  border-bottom: 1px solid #eee;
  display: table;
  width: 100%;
  table-layout: fixed;
}

.t613__middle_item:last-child {
  border-bottom: none !important;
}

.t613 svg {
  display: block;
}

.t613 .t-align_center svg {
  margin: 0 auto;
}

.t613__header {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.t613__bottom {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  display: table;
  width: 100%;
  table-layout: fixed;
}

.t613__buttonwrapper {
  padding: 24px 20px;
}

.t613__img {
  max-width: 40px;
}

@media screen and (max-width: 960px){
  .t613 .t-section__topwrapper {
    margin-bottom: 25px;
  }

  .t613__wrapper {
    padding: 20px;
  }

  .t613 .t-section__title {
    margin-bottom: 20px;
  }

  .t613__container {
    overflow-x: scroll;
  }

  .t613__content.t-col_12 {
    width: 940px;
    max-width: 940px;
    padding: 0;
  }

  .t613__content.t-col_11 {
    width: 860px;
    max-width: 860px;
    padding: 0;
  }

  .t613__content.t-col_10 {
    width: 780px;
    max-width: 780px;
    padding: 0;
  }

  .t613__content.t-col_9 {
    width: 700px;
    max-width: 700px;
    padding: 0;
  }

  .t613__content.t-col_8 {
    width: 620px;
    max-width: 620px;
    padding: 0;
  }

  .t613__content.t-col_7 {
    width: 540px;
    max-width: 540px;
    padding: 0;
  }

  .t613__content.t-col_6 {
    width: 460px;
    max-width: 460px;
    padding: 0;
  }

  .t613__content.t-col_5 {
    padding: 0;
  }

  .t613__mobile {
    padding: 40px 20px;
  }
} 
.t664__wrapper {
  position: relative;
  padding: 40px;
  border-radius: 9px;
}

.t664__col {
  margin-bottom: 20px;
}

.t664__col:last-child {
  margin-bottom: 0 !important;
}

.t664__question {
  margin-bottom: 16px;
}

.t664__question-name, .t664__answer-name {
  display: table-cell;
  vertical-align: top;
  width: 120px;
  color: #999;
  padding-right: 15px;
}

.t664__question-text, .t664__answer-text {
  display: table-cell;
  vertical-align: top;
}

@media screen and (max-width: 725px) {
  .t664__wrapper {
    padding: 16px 22px 16px !important;
  }

  .t664__question-name, .t664__answer-name {
    padding-top: 2px;
  }

  .t664__question {
    margin-bottom: 9px;
  }
}

@media screen and (max-width: 640px) {
  .t664__question-name, .t664__answer-name {
    width: 100% !important;
    display: block;
    margin-bottom: 2px;
  }

  .t664__question {
    margin-bottom: 13px;
  }
}
